/* Navigation bar background color */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* nav bar link styling */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color on current link */
.topnav a.active {
    background-color: #4CAF50
    color: white;
}

input[type=text] {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 16px;
    background-color: black;
    padding: 12px 20px 12px 20px;
    color: rgb(134, 131, 133);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 0;
}

input[type=text]:focus {
    width: 75%;
}

.btn {
    border: none;
    background-color: black;
    padding: 12px 20px 12px 20px;
    color: #f2f2f2;
    cursor: pointer;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
}

.center {
    margin: auto;
    width: 50%;
    padding-top: 50px;
}

.planetimage {
    display: block;
    float: right;
    padding-left: 30px;
    width: 500px;
    height: 500px;
}

.paddeddown {
    padding: 130px;
}
